@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
header{
  margin: 0 auto;
  width: 80%;
  height: 81px;
}
nav{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header-nav{
  justify-content: flex-end;
  align-content: center;
}
.header-nav ul{
  display: flex;
  gap: 40px;
}
.header-nav li{
  list-style-type: none;
}
a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.hero{
  margin: 0 auto;
  width: 80%;
  height: 937px;
  background-image: url(./images/sec_1/image1.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.hero-content{
  margin-top: 100px;
}
.hero-text{
  width: 715px;
  height: 590px;
}
.hero-text h1{
  font-size: 72px;
  color: #FF8A56;
  text-wrap: balance;
}
.hero-highlight{
  color: #000000;
}
.hero-text p{
  width: 547px;
  height: 66px;
  margin-top: 27px;
  font-size: 22px;
  color: #666666;
}
.hero-intro{
  margin-bottom: 38px;
}
.btn-primary{
  width: 151px;
  height: 58px;
  border-style: none;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.btn-primary:hover{
  background-color: #3b3b3b;
}
.btn-secondary{
  margin-left: 16px;
  width: 197px;
  height: 58px;
  border-style: none;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.services{
  margin: 0 auto;
  width: 80%;
  height: 813px;
}
.btn-secondary:hover{
  background-color: #d1d1d1;
}
.hero-clients{
  width: 862px;
  height: 252px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clients-label{
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.hero-clients p{
  font-size: 18px;
  color: #000000;
}
.clients-logos{
  display: flex;
  justify-content: space-between;
}
.services-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-header h2{
  color: #FF5E69;
  font-size: 22px;
}
.services-header h1{
  color: #000000;
  font-size: 54px;
  width: 768px;
  height: 119px;
  text-align: center;
  margin-top: 18px;
}
.services-grid{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 116px;
}
.service-card{
  width: 306px;
  height: 381px;
}
.service-title{
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: 39px;
}
.service-description{
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  width: 252px;
  margin-top: 25px;
  margin-bottom: 22px;
}
.service-features li{
  list-style-type: square;
  font-size: 16px;
  color: #000000;
  margin-top: 14px;
  font-weight: 700;
}
.projects{
  width: 80%;
  margin: 0 auto;
}
.projects-header h2{
  color: #B16CEA;
  font-size: 22px;
  letter-spacing: 4px;
}
.projects-intro{
  align-items: center;
  justify-content: space-between;
}
.projects-title h1{
  color: #000000;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
}
.projects-intro button{
  width: 201px;
  height: 58px;
  border-style: none;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.projects-intro button:hover{
  background-color: #3b3b3b;
}
.projects-intro{
  display: flex;
}
.projects-grid{
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.project-card{
  width: 486px;
  height: 468px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  display: inline-block;
}
.branding{
  background-image: url(./images/sec_3/image1.png);
background-repeat: no-repeat;
}
.branding:hover{
  box-shadow: 0 12px 26px #000000;
}
.product-design{
  background-image: url(./images/sec_3/image2.png);
  background-repeat: no-repeat;
}
.product-design:hover{
  box-shadow: 0 12px 26px #000000;
}
.web-design{
  background-image: url(./images/sec_3/image3.png);
  background-repeat: no-repeat;
}
.web-design:hover{
  box-shadow: 0 12px 26px #000000;
}
.project-info{
  margin-top: 340px;
  margin-left: 32px;
}
.project-info button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: #000000;
  font-size: 18px;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  background-color: #e2e2e2;
}
.project-info button:hover{
  background-color: #969696;
}
.project-category{
  color: #3C46FF;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 800;
}
.project-name{
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  margin-top: 14px;
  margin-bottom: 14px;
}
.project-info img{
  margin-left: 12px;
}
.blogs{
  position: relative;
  bottom: 155px;
  height: 1680px;
  width: 100%;
  background-color: #000000;
}
.blogs-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.blogs-header{
  margin-top: 276px;
}
.blogs-list{
  margin-top: 345px;
}
.divider{
  margin-bottom: 67px;
  margin-top: 18px;
}
.blogs-header h2{
  color: #FFA84B;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 700;
}
.blogs-header h1{
  color: #FFFFFF;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 45px;
}
.blogs-header button{
  padding: 0 8px;
  width: 105px;
  height: 40px;
  border-style: none;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
}
.blogs-header button:hover{
  background-color: #181818;
}
.blogs-header img{
  margin-left: 5px;
}
.post-meta{
  height: 16px;
  display: flex;
  align-items: end;
}
.post-meta img{
  width: 3px;
  height: 3px;
  margin-left: 10px;
  margin-right: 3px;
}
.post-date, .read-time{
  color: #FFFFFF;
  opacity: 70%;
  line-height: 0.6;
  font-size: 14px;
}
.blog-post{
  width: 693px;
  border-bottom-color: #818181;
  border-bottom-width: 3px;
}
.blog-post h2{
  margin-top: 24px;
  margin-bottom: 42px;
  width: 489px;
  font-size: 28px;
  color: #FFFFFF;
}
.blog-post button{
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #000000;
}
.blog-post a{
  color: #FFFFFF;
}
.blog-post img{
  margin-left: 20px;
}
.about{
  width: 80%;
  margin: 0 auto;
}
.blogs-list button{
  border-radius: 4px;
  transition: 0.4s;
}
.blogs-list button:hover{
  background-color: #222222;
}
.about-title h2{
  font-size: 22px;
  color: #FF5E69;
  letter-spacing: 4px;
  margin-bottom: 12px;
}
.about-title h1{
  font-size: 52px;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 800;
}
.about-intro{
  display: flex;
  justify-content: space-between;
}
.about-intro p{
  width: 625px;
  height: 120px;
  color: #666666;
  font-size: 22px;
  line-height: 40px;
}
.gallery-main{
  width: 338px;
  height: 626px;
}
.gallery-main:nth-of-type(2){
  width: 507px;
  height: 626px;
}
.gallery-secondary{
  width: 338px;
  height: 305px;
}
.gallery-side{
  gap: 16px;
  width: 338px;
  height: 626px;
  display: flex;
  flex-direction: column;
}
.about-gallery{
  margin-top: 124px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 154px;
}
.work-list img{
  width: 40px;
  height: 40px;
}
.experience{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.education-item, .work-item{
  display: flex;
  width: 584px;
  height: 94px;
  border-bottom: 1px solid #E5E5E5;
  margin-top: 35px;
cursor: pointer;
  border-radius: 6px;
  transition: 0.4s;
}
.education-item:hover{
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}
.work-item:hover{
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}
.work-arrow img{
  width: 25px;
  height: 25px;
}
.education-arrow img{
  width: 25px;
  height: 25px;
}
.work-period, .education-period{
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.education-details{
  width: 287px;
  height: 54px;
  margin-right: 139px;
}
.institution, .company{
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}
.degree, .position, .period{
  color: #000000;
  opacity: 60%;
  font-size: 16px;
}
.experience h1{
  margin-bottom: 51px;
}
.work-company{
  display: flex;
  width: 286px;
  height: 54px;
  margin-right: 69px;
  align-items: center;
}
.work-company img{
  margin-right: 20px;
}
.work-period{
  width: 169px;
}
.testimonials{
  width: 80%;
  margin: 0 auto;
  margin-top: 191px;
  height: 800px;
}
.testimonials-header h2{
  color: #4353FF;
  font-size: 22px;
  letter-spacing: 4px;
}
.testimonials-header h1{
  color: #000000;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 14px;
  margin-bottom: 85px;
}
.testimonial-nav button{
  width: 54px;
  height: 54px;
  border-style: none;
  background-color: #000000;
  cursor: pointer;
  transition: 0.4s;
}
.testimonial-content{
  display: flex;
  justify-content: space-between;
}
.testimonial-author{
  display: flex;
  justify-content: space-between;
}
.testimonial-nav{
  display: flex;
}
.testimonial-nav button:hover{
  background-color: #222222;
}
.author-name{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.author-company{
  color: #000000;
  font-size: 18px;
}
.testimonial-quote{
  width: 565px;
  height: 188px;
  color: #000000;
  font-size: 36px;
  font-weight: 800;
  line-height: 47px;
  margin-top: 32px;
  margin-bottom: 112px;
}
.quote-icon{
  margin-top: 25px;
}
.faq{
  background-color: #000000;
  height: 997px;
}
.faq-header h2{
  color: #FF8A56;
  font-size: 22px;
  letter-spacing: 4px;
  width: 58px;
  height: 22px;
  margin: 0 auto;
  margin-top: 82px;
  margin-bottom: 20px;
}
.faq-header h1{
  color: #FFFFFF;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  width: 736px;
  height: 59px;
  margin-bottom: 147px;
}
.faq-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.faq-header{
  margin: 0 auto;
}
.faq-item{
  margin-bottom: 31px;
  width: 583px;
  height: 82px;
  border-bottom: 1px solid #454545;
  cursor: pointer;
  transition: 0.3s;
}
.faq-item:hover{
  box-shadow: 20px 20px 30px rgba(77, 77, 77, 0.2);
  border-radius: 4px;
}
.faq-item img{
  width: 24px;
  height: 24px;
}
.faq-item p{
  color: #FFFFFF;
  font-size: 24px;
}
.faq-question{
  display: flex;
  justify-content: space-between;
}
.faq-questions{
  display: flex;
  justify-content: space-between;
}
footer{
  background-color: #000000;
  height: 541px;
}
.footer-header h2{
  color: #FFFFFF;
  font-size: 54px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 9px;
}
.footer-header h1{
  color: #3C46FF;
  font-size: 54px;
  letter-spacing: 0.5px;
  font-weight: 800;
}
.footer-container{
  width: 80%;
  margin: 0 auto;
}
.footer-contact p{
  color: #666666;
}
.footer-content{
  display: flex;
  margin-top: 100px;
  margin-bottom: 126px;
  justify-content: space-between;
}
.footer-links{
  display: flex;
}
.links-column p{
  color: #FFFFFF;
  font-size: 18px;
  width: 195px;
  margin-bottom: 25px;
  cursor: pointer;
}
.footer-links a{
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 25px;
}
.links-column:nth-of-type(2) p{
  color: #FFFFFF;
  font-size: 18px;
  width: 195px;
  margin-bottom: 25px;
  cursor: pointer;
}
.links-column:nth-of-type(3) p{
color: #FFFFFF;
  font-size: 18px;
  width: 95px;
  margin-bottom: 25px;
  cursor: pointer;
}
.footer-links p:hover{
  text-decoration: underline;
}
.contact-email{
  display: flex;
}
.contact-email p{
  margin-left: 6px;
}
.footer-bottom p{
  color: #8A95AD;
  font-size: 16px;
}
.footer-bottom{
  display: flex;
  gap: 10px;
}
.contact-address{
  margin-top: 14px;
  margin-bottom: 17px;
}